@charset "utf-8";
/* CSS Document */

div {
    border-radius: 2px;
    background-color: #f2f2f2;
    padding: 10px;
}

#tampilantabel {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tampilantabel td, #tampilantabel th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tampilantabel tr:nth-child(even) {background-color: #f2f2f2;}
#tampilantabel tr:hover {background-color: #ddd;}

#tampilantabel th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: bisque;
    color: aquamarine;
}

input[type=text],input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px skyblue #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text], input[type=password]:focus {
    background-color: cornflowerblue;
}
input[type=submit],input[type=button], input[type=reset] {
    background-color: darkcyan;
    border: none;
    color: cornsilk;
    padding: 10px 20px;
    text-decoration: none;
    margin: 5px 8px;
    cursor: pointer;
    border-radius: 4px;
    float:right;
}

input [type=submit]:hover {
    background-color: aliceblue;
}
img {
    border-radius: 80%;
}